<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPv4 Full Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">IPv4 Full Details</h1>
        <table class="table table-bordered mt-3">
            <tr>
                <th>Whois</th>
                <td>{{ general_whois }}</td>
            </tr>
            <tr>
                <th>Reputation</th>
                <td>{{ general_reputation }}</td>
            </tr>
            <tr>
                <th>Indicator</th>
                <td>{{ general_indicator }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ general_type }}</td>
            </tr>
            <tr>
                <th>Type Title</th>
                <td>{{ general_type_title }}</td>
            </tr>
            <tr>
                <th>Base Indicator ID</th>
                <td>{{ general_base_indicator_id }}</td>
            </tr>
            <tr>
                <th>Base Indicator</th>
                <td>{{ general_base_indicator_indicator }}</td>
            </tr>
            <tr>
                <th>Pulses Count</th>
                <td>{{ general_pulse_info_count }}</td>
            </tr>
            <tr>
                <th>Pulses</th>
                <td>{{ general_pulse_info_pulses }}</td>
            </tr>
            <tr>
                <th>References</th>
                <td>{{ general_pulse_info_references }}</td>
            </tr>
            <tr>
                <th>ASN</th>
                <td>{{ general_asn }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ general_city }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ general_region }}</td>
            </tr>
            <tr>
                <th>Continent Code</th>
                <td>{{ general_continent_code }}</td>
            </tr>
            <tr>
                <th>Country Code (3)</th>
                <td>{{ general_country_code3 }}</td>
            </tr>
            <tr>
                <th>Country Code (2)</th>
                <td>{{ general_country_code2 }}</td>
            </tr>
            <tr>
                <th>Subdivision</th>
                <td>{{ general_subdivision }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ general_latitude }}</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>{{ general_postal_code }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ general_longitude }}</td>
            </tr>
            <tr>
                <th>Accuracy Radius</th>
                <td>{{ general_accuracy_radius }}</td>
            </tr>
            <tr>
                <th>Country Code</th>
                <td>{{ general_country_code }}</td>
            </tr>
            <tr>
                <th>Country Name</th>
                <td>{{ general_country_name }}</td>
            </tr>
            <tr>
                <th>DMA Code</th>
                <td>{{ general_dma_code }}</td>
            </tr>
            <tr>
                <th>Charset</th>
                <td>{{ general_charset }}</td>
            </tr>
            <tr>
                <th>Area Code</th>
                <td>{{ general_area_code }}</td>
            </tr>
            <tr>
                <th>Flag Title</th>
                <td>{{ general_flag_title }}</td>
            </tr>
            <tr>
                <th>Sections</th>
                <td>{{ general_sections }}</td>
            </tr>
            <tr>
                <th>Malware Data</th>
                <td>{{ malware_data }}</td>
            </tr>
            <tr>
                <th>Malware Size</th>
                <td>{{ malware_size }}</td>
            </tr>
            <tr>
                <th>Passive DNS Count</th>
                <td>{{ passive_dns_count }}</td>
            </tr>
            <tr>
                <th>Passive DNS Data</th>
                <td>{{ passive_dns_data }}</td>
            </tr>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
